
body{
	background-color:gray;
}

td{
	width:10px;
	height:12px;
}

.blank{
	background-color:gray;
}

.player{
	background-color:black;
}

.wall{
	background-color:red;
}

.shelf{
	background-color:green;
}