*{
	padding:5px;
	margin:5px;
}
html {
  height: 100%;
}

body{
	background-color:gray;
	height: 85%;
    min-height: 85%;
}

.align{
    align: center;
    bottom: 2%;
}


.blank{
	background-color:gray;
}

.player{
	background-color:white;
	height: 10px;
   width: 10px;
   border-radius: 50%;
}

.wall{
	background-color:black;
	height: 10px;
   width: 10px;
}

.shelf{
	background-color:green;
}